p {
    width: 400px;
    background-color: #ddd;
    padding: 10px;
}
.p-1 {
    border-left: red solid 3px;
    padding: 10px;
    outline: 10px #ddd solid;
    margin: 40px;
}
.p-2 {
    visibility: hidden;
    border-left: red solid 3px;
    padding: 10px;
    outline: 10px #ddd solid;
    margin: 40px;
}
.p-3 {
    border-left: green solid 3px;
    padding: 10px;
    outline: 10px #ddd solid;
    margin: 40px;
}